:root{
    --navfont: 15px;
    --btnpadding: 10px 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
    background: radial-gradient(circle at top, #0f131a, #05070c);
}
nav{
    background-color: #010409;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navtitle{
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
}
.navtitle h4{
    font-size: 15px;
    margin: 0;
}
.navgiticon{
    width: 35px;
    height: 35px;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    display: flex;          
    justify-content: center; 
    align-items: center;   
}
.navlinks{
    display: flex;
    gap: 20px;
    color: white;
}
.inlink{
    border: 0.4px solid #9097a0;
    border-radius: 10px;
    padding: 4px 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inlink h4{
    color: #9097a0;
    font-size: 15px;
}
/* HERO */
.herosection{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px 80px;
}
.heroimgsection{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* .heroimgborder{
    border: 1px solid #9097a0;
    border-radius: 50%;
} */

/* dots layer */
.heroimgsection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 20px 20px;
  -webkit-mask-image: radial-gradient(circle, black 50%, transparent 90%);
  mask-image: radial-gradient(circle, black 50%, transparent 90%);
}

.heroimg {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 0.1px solid #e96919;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0px 20px #e96919;
}

.heroimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.herocontentmain{
    background-color: transparent;
    border: 0.1px solid #696f76;
    text-align: start;
    width: 55%;
    height: 630px;
    border-radius: 10px;
    color: white;
    padding: 40px 25px;
}
.herocontentmain h1{
    font-size: 30px;
}
.herocontentmain p{
    font-size: 22px;
    color: #9097a0;
    margin-top: -10px;
}
.herocontentmain span{
    font-size: 17px;
    color: #eaeaea;
}
.contribution_graph{
    width: 80%;
}
.maincontribute{
    border: 0.6px solid #9097a0;
    border-radius: 10px;
}

.hellohero{
    border: 0.4px solid #29da4cfb;
    background-color: #15962f3a;
    width: 160px;
    padding: var(--btnpadding);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hellohero p{
    color: #29da4cfb;
    margin: 0;         
    line-height: 1;
    font-size: 17px;
}
.herocontentbtnsmain{
    display: flex;
    gap: 10px;
}

.herocontentbtnsmain button{
    display: flex;
    gap: 10px;
    background: transparent;
    border: 0.4px solid #696f76;
    border-radius: 4px;
    padding: var(--btnpadding);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroiconsmain{
    display: flex;
    gap: 15px;
}
.heroicons{
    border-radius: 10px;
    border: 0.4px solid #696f76;
    padding: 10px;
}
.heroicons img{
   width: 30px;
   height: 30px;
}
.connectme{
    color: rgb(166, 166, 166);
    font-size: 16px;
}